.name-character {
  font-weight: 800;
  font-size: 1.6em;
  margin: 0;
}

.subheader-card {
  display: flex;
  align-items: center;
}

.subheader-card > span {
  text-transform: capitalize;
  font-size: 0.95em;
  font-weight: 600;
  margin-right: 0.4em;
}
