@import 'vars.css';

.characters-cards-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  justify-items: center;
  background-color: var(--background-cards-container);
}
