@import 'vars.css';

.characters-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;

  background-color: var(--background-cards-container);
  padding: 1.5em;
}

.character-card-container {
  margin: 1em;
  display: flex;
  background-color: var(--background-card);
  border-radius: var(--border-radius-card);
  overflow: hidden;
}

.info-character-container {
  padding: 1em;
}

.text-row-container {
  margin: 1.5em 0;
}
